/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
body {
  @apply font-inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4 {
  @apply font-bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

.hero__bg-pattern {
  background-image: url(".././public/hero/hero-bg-circles.svg");
  @apply bg-cover bg-center bg-no-repeat;
}
.bg-animation {
  background:
      radial-gradient(ellipse at center, rgba(0, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 70%),
      radial-gradient(ellipse at center, rgba(255, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%),
      radial-gradient(ellipse at center, rgba(0, 255, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%)
      #111827;
    background-repeat:
      no-repeat,
      no-repeat,
      no-repeat;
    background-size:
      900px 900px,
      900px 900px,
      900px 900px;
    background-attachment: fixed;
    animation: bganimation 30s infinite;
}
.hero__title-gradient {
  @apply bg-gradient-to-br from-secondary-400 to-secondary-600;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
}
.hero__title-gradient-primary {
  @apply bg-gradient-to-br from-primary-500 to-primary-700;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
}
.ev-hero__title-gradient {
  @apply bg-gradient-to-r from-blue-400 to-green-500;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
}

@screen lg {
  .hero__image-container {
    @apply absolute top-0;
    height: auto;
    width: calc(50% + 100px);
    right: -100px;
  }
}
@screen 2xl {
  .hero__image-container {
    @apply absolute;
    height: auto;
    width: calc(50% + 180px);
    right: -180px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.heading-with-leftborder {
  @apply relative;
}

.heading-with-leftborder::before {
  @apply absolute bg-gradient-to-b from-yellow-400 to-primary-500 rounded-r-md h-full top-0 left-0;
  content: "";
  width: 4px;
}
.heading-with-leftborder--cyan-green:before {
  @apply absolute bg-gradient-to-b from-cyan-400 to-green-500 rounded-r-md h-full top-0 left-0;
}

@screen lg {
  .heading-with-leftborder::before {
    width: 8px;
  }
}

.heading-with-underscore {
  @apply relative pl-8;
}

.heading-with-underscore::before {
  @apply absolute bg-primary-500 h-1 w-4;
  content: "";
  bottom: 6px;
  left: 4px;
}
.heading-with-underscore--cyan-green::before {
  @apply bg-gradient-to-b from-cyan-400 to-green-500;
}

.list-with-underscore {
  @apply relative pl-8;
}

.list-with-underscore::before {
  @apply absolute bg-primary-500 h-1 w-4;
  content: "";
  top: 10px;
  left: 4px;
}

@screen lg {
  .testimonial-blockquote::before {
    @apply w-11 ml-0;
  }
}

.path {
  /* -webkit-animation: dash 30s linear infinite; */
  stroke-dasharray: 8;
  stroke-width: 2;
}

.ama-section__corner-image {
  @apply right-0 h-80 w-80 z-0;
}

@screen md {
  .ama-section__corner-image {
    right: -50px;
    top: -30px;
  }
}

.tooltip {
  @apply w-9 h-9 flex items-center justify-center absolute cursor-pointer;
}

/* Trigger item */

.tooltip:hover .tooltip-item {
  border-color: #380d80;
}

/* Tooltip */

.tooltip-content {
  @apply absolute min-w-max text-secondary-600 top-1/2 transform translate-x-0 -translate-y-1/2 z-30 rounded-lg opacity-0 cursor-default pointer-events-none transition;
  background: #e6defd;
}

.tooltip-right .tooltip-content {
  @apply left-10;
}

.tooltip-left .tooltip-content {
  @apply right-10;
}

.tooltip:hover .tooltip-content {
  opacity: 1;
  pointer-events: auto;
}

/* Tooltip arrow */

.tooltip-content::before {
  content: "";
  position: absolute;
  top: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: rgba(230, 222, 253, 0);
}

.tooltip-right .tooltip-content::before {
  @apply right-full;
  border-right-color: #e6defd;
  border-width: 10px;
  margin-top: -10px;
}

.tooltip-left .tooltip-content::before {
  @apply left-full;
  border-left-color: #e6defd;
  border-width: 10px;
  margin-top: -10px;
}

.stats__side-nav-item--active {
  @apply bg-primary-200 bg-opacity-50 text-secondary-600;
}

.webkit-bg-clip {
  -webkit-background-clip: text;
}

.img-comparison-slider__img-1,
.img-comparison-slider__img-2 {
  margin: 0;
}

.img-comparison-slider__img-1 figcaption,
.img-comparison-slider__img-2 figcaption {
  @apply absolute bottom-4 leading-tight bg-gray-900 bg-opacity-75 border border-gray-600 font-semibold text-white rounded-md px-2 py-1;
}

.img-comparison-slider__img-1 figcaption {
  @apply left-4;
}

.img-comparison-slider__img-2 figcaption {
  @apply right-4;
}

.draw-arrow__svg-path {
  stroke-width: 4;
  stroke: dodgerblue;
  fill: none;
  stroke-dasharray: 100;
  stroke-dashoffset: 200;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: draw;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.nav-link {
  @apply border-b-2 border-transparent transition-all;
}

.nav-link:hover {
  @apply border-primary-300;
}

.nav-link:hover .title {
  @apply text-black;
}

.nav-link.active {
  @apply border-primary-500;
}

.nav-link.active .title {
  @apply text-primary-500;
}

.ambassadorLinks::-webkit-scrollbar {
  display: none;
}

.ambassadorLinks {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.fdp-notice {
  width: 100wh;
  background: linear-gradient(-45deg, #d95e38, #ce125a, #2352d5, #08af88);
  animation: gradient-animation 25s ease infinite;
  background-size: 400% 400%;
}

.arbitary {
  @apply order-1 order-2 order-3;
}

.flow-chart-level-1 {
  margin: 0 auto 120px;

}

.flow-chart-level-0::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 60px;
  @apply bg-gray-400;
}

.flow-chart-level-1::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 60px;
  @apply bg-gray-400;
}


.flow-chart-level-2-wrapper::before {
  content: "";
  position: absolute;
  top: -60px;
  @apply left-1/2 transform -translate-x-1/2;
  width: calc(100% - 32%);
  height: 2px;
  @apply bg-gray-400;
}

.flow-chart-level-2-wrapper::after {
  display: none;
  content: "";
  position: absolute;
  left: -20px;
  bottom: -20px;
  width: calc(100% + 40px);
  height: 2px;
  @apply bg-gray-400;
}

.flow-chart-level-2-wrapper div {
  position: relative;
}

.flow-chart-level-2-wrapper>div::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 60px;
  @apply bg-gray-400;
}

.flow-chart-level-2::after {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%);
  width: 20px;
  height: 2px;
  @apply bg-gray-400;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes bganimation {
  0% {
    background-position:
      -100% -100%,
      200% 200%,
      -100% 200%,
      200% -100%;
  }
  50% {
    background-position:
      150% 100%,
      -200% 100%,
      100% 0%,
      0% 100%;
  }
  100% {
    background-position:
      -100% -100%,
      200% 200%,
      -100% 200%,
      200% -100%;
  }
}
